Repository Morph1s/Psychopompos, pull requests merged in 2025-06, with the labels that each got.

#118 feat: 100 reactive hud
  resources/enemies/normal_attack.tres
  resources/enemies/swift_attack.tres
  resources/enemies/test_enemy.tres
  scenes/characters/character.tscn
  scenes/enemy/enemy.tscn
  scenes/ui/enemy_hud.tscn
  scenes/ui/entity_hud.tscn
  scenes/ui/player_hud.tscn
  scripts/battle/battle.gd
  scripts/battle/card_handler.gd
  scripts/characters/player.gd
  scripts/custom_resources/enemy_stats.gd
  scripts/custom_resources/entity_stats.gd
  scripts/custom_resources/player_stats.gd
  scripts/enemy/enemy.gd
  scripts/ui/enemy_hud.gd
  scripts/ui/entity_hud.gd
  scripts/ui/player_hud.gd
Labels: combat, scene, script

#123 Feature/58 effect handler
  project.godot
  scenes/characters/character.tscn
  scenes/effects/effect_handler.tscn
  scenes/effects/effect_instances/agile.tscn
  scenes/effects/effect_instances/damokles_sword.tscn
  scenes/effects/effect_instances/gather.tscn
  scenes/effects/effect_instances/incapacitated.tscn
  scenes/effects/effect_instances/phalanx.tscn
  scenes/effects/effect_instances/regeneration.tscn
  scenes/effects/effect_instances/vigilant.tscn
  scenes/effects/effect_instances/warriors_fury.tscn
  scenes/effects/effect_instances/wounded.tscn
  scenes/effects/effect_interface.tscn
  scenes/enemy/enemy.tscn
  scripts/card/card.gd
  scripts/characters/player.gd
  scripts/custom_resources/attack_action.gd
  scripts/effects/effect_handler.gd
  scripts/effects/effect_handler.gd.uid
  scripts/effects/effect_instances/agile.gd
  scripts/effects/effect_instances/agile.gd.uid
  scripts/effects/effect_instances/damokles_sword.gd
  scripts/effects/effect_instances/damokles_sword.gd.uid
  scripts/effects/effect_instances/gather.gd
  scripts/effects/effect_instances/gather.gd.uid
  scripts/effects/effect_instances/incapacitated.gd
  scripts/effects/effect_instances/incapacitated.gd.uid
  scripts/effects/effect_instances/phalanx.gd
  scripts/effects/effect_instances/phalanx.gd.uid
  scripts/effects/effect_instances/regeneration.gd
  scripts/effects/effect_instances/regeneration.gd.uid
  scripts/effects/effect_instances/vigilant.gd
  scripts/effects/effect_instances/vigilant.gd.uid
  scripts/effects/effect_instances/warriors_fury.gd
  scripts/effects/effect_instances/warriors_fury.gd.uid
  scripts/effects/effect_instances/wounded.gd
  scripts/effects/effect_instances/wounded.gd.uid
  scripts/effects/effect_interface.gd
  scripts/effects/effect_interface.gd.uid
  scripts/enemy/enemy.gd
  scripts/global/event_bus_handler.gd
  scripts/modifiers/modifier_instance.gd
  scripts/script_templates/Sprite2D/effect_template.gd
  scripts/script_templates/Sprite2D/effect_template.gd.uid
Labels: scene, script, difficult

#120 feat: pause menu
  assets/graphics/ui/pause_menu_background.png
  assets/graphics/ui/pause_menu_background.png.import
  assets/graphics/ui/theme/checkbox_checked.png
  assets/graphics/ui/theme/checkbox_checked.png.import
  assets/graphics/ui/theme/checkbox_hovered.png
  assets/graphics/ui/theme/checkbox_hovered.png.import
  assets/graphics/ui/theme/checkbox_normal.png
  assets/graphics/ui/theme/checkbox_normal.png.import
  assets/graphics/ui/theme/checkbox_unchecked.png
  assets/graphics/ui/theme/checkbox_unchecked.png.import
  assets/graphics/ui/theme/h_seperator.png
  assets/graphics/ui/theme/h_seperator.png.import
  assets/graphics/ui/theme/slider.png
  assets/graphics/ui/theme/slider.png.import
  assets/graphics/ui/theme/slider_grabber_normal.png
  assets/graphics/ui/theme/slider_grabber_normal.png.import
  assets/graphics/ui/theme/v_seperator.png
  assets/graphics/ui/theme/v_seperator.png.import
  assets/graphics/ui/volume_icon.png
  assets/graphics/ui/volume_icon.png.import
  project.godot
  resources/theme/main_theme.tres
  scenes/main.tscn
  scenes/ui/pause_menu_layer.tscn
  scripts/ui/pause_menu_layer.gd
  scripts/ui/pause_menu_layer.gd.uid
Labels: scene, script

#124 feat: main menu
  scenes/main.tscn
  scenes/ui/close_game_confirmation.tscn
  scenes/ui/main_menu.tscn
  scenes/ui/pause_menu_layer.tscn
  scripts/main.gd
  scripts/ui/close_game_confirmation.gd
  scripts/ui/close_game_confirmation.gd.uid
  scripts/ui/main_menu.gd
  scripts/ui/main_menu.gd.uid
  scripts/ui/pause_menu_layer.gd
Labels: scene

#129 feat: battle rewards
  scenes/card/card_visualization.tscn
  scenes/encounters/battle_reward_button.tscn
  scenes/encounters/battle_rewards.tscn
  scenes/ui/select_card_screen.tscn
  scripts/card/card_visualization.gd
  scripts/card/card_visualization.gd.uid
  scripts/rewards/battle_reward_button.gd
  scripts/rewards/battle_reward_button.gd.uid
  scripts/rewards/battle_rewards.gd
  scripts/rewards/battle_rewards.gd.uid
  scripts/ui/select_card_screen.gd
  scripts/ui/select_card_screen.gd.uid
Labels: scene, script

#141 feat: event handler cleanup
  scenes/encounters/battle.tscn
  scripts/battle/battle.gd
  scripts/battle/battle_ui.gd
  scripts/battle/card_handler.gd
  scripts/battle/state_machine/exit.gd
  scripts/battle/state_machine/idle.gd
  scripts/battle/state_machine/player_end_turn.gd
  scripts/battle/state_machine/state_machine.gd
  scripts/card/card.gd
  scripts/characters/player.gd
  scripts/global/event_bus_handler.gd
  scripts/main.gd
  scripts/ui/run_ui.gd
  scripts/ui/ui_layer.gd
Labels: script

#142 feat: effect action
  resources/cards/prepare.tres
  resources/cards/wound.tres
  resources/characters/card_library.tres
  scripts/custom_resources/effect_action.gd
  scripts/effects/effect_handler.gd
  scripts/effects/effect_instances/gather.gd
Labels: refactoring, script

#143 feat: 130Impement Battel End
  scenes/encounters/battle.tscn
  scenes/ui/game_over_screen.gd
  scenes/ui/game_over_screen.gd.uid
  scenes/ui/game_over_screen.tscn
  scenes/ui/run.tscn
  scripts/battle/battle.gd
  scripts/battle/enemy_handler.gd
  scripts/characters/player.gd
  scripts/enemy/enemy.gd
  scripts/main.gd
  scripts/rewards/battle_rewards.gd
  scripts/run/encounter_handler.gd
  scripts/run/run.gd
  scripts/ui/ui_layer.gd
Labels: combat, script

#146 feat: tooltips
  resources/cards/defend.tres
  resources/cards/prepare.tres
  resources/cards/strike.tres
  resources/cards/wound.tres
  resources/tooltips/agile_tooltip.tres
  resources/tooltips/attack_tooltip.tres
  resources/tooltips/block_tooltip.tres
  resources/tooltips/damokles_sword_tooltip.tres
  resources/tooltips/gather_tooltip.tres
  resources/tooltips/incapacitated_tooltip.tres
  resources/tooltips/phalanx_tooltip.tres
  resources/tooltips/regeneration_tooltip.tres
  resources/tooltips/vigilant_tooltip.tres
  resources/tooltips/warriors_furry_tooltip.tres
  resources/tooltips/wounded_tooltip.tres
  scenes/ui/run.tscn
  scenes/ui/run_ui.tscn
  scenes/ui/tooltip.tscn
  scripts/battle/card_handler.gd
  scripts/custom_resources/card_type.gd
  scripts/custom_resources/tooltip_data.gd
  scripts/custom_resources/tooltip_data.gd.uid
  scripts/global/event_bus_handler.gd
  scripts/ui/run_ui.gd
  scripts/ui/tooltip.gd
  scripts/ui/tooltip.gd.uid
Labels: scene, script

#151 feat: compact entity hud
  assets/graphics/characters/placeHolder_player1.png
  assets/graphics/enemies/placeholder_enemy.png
  assets/graphics/ui/hud_heart.png
  assets/graphics/ui/hud_heart.png.import
  assets/graphics/ui/hud_shield.png
  assets/graphics/ui/hud_shield.png.import
  resources/enemies/normal_attack.tres
  resources/enemies/swift_attack.tres
  resources/enemies/test_enemy.tres
  scenes/characters/character.tscn
  scenes/characters/test_character.tscn
  scenes/encounters/battle.tscn
  scenes/enemy/enemy.tscn
  scenes/ui/enemy_hud.tscn
  scenes/ui/entity_hud.tscn
  scenes/ui/player_hud.tscn
  scripts/battle/enemy_handler.gd
  scripts/characters/player.gd
  scripts/custom_resources/enemy_action.gd
  scripts/custom_resources/enemy_stats.gd
  scripts/enemy/enemy.gd
  scripts/ui/enemy_hud.gd
  scripts/ui/entity_hud.gd
  scripts/ui/player_hud.gd
Labels: combat, refactoring, scene, script

#147 feat: map run integration
  scenes/encounters/battle.tscn
  scenes/map/map.tscn
  scripts/battle/battle.gd
  scripts/battle/enemy_handler.gd
  scripts/custom_resources/entity_stats.gd
  scripts/map/map.gd
  scripts/rewards/battle_rewards.gd
  scripts/run/run.gd
  scripts/ui/ui_layer.gd
Labels: scene, script

#152 feat: deck view
  resources/characters/card_library.tres
  scenes/card/card_visualization.tscn
  scenes/map/map.tscn
  scenes/ui/deck_view.tscn
  scenes/ui/run.tscn
  scenes/ui/select_card_screen.tscn
  scenes/ui/tooltip.tscn
  scripts/battle/battle_ui.gd
  scripts/card/card_visualization.gd
  scripts/global/event_bus_handler.gd
  scripts/ui/deck_view.gd
  scripts/ui/deck_view.gd.uid
  scripts/ui/run_ui.gd
  scripts/ui/select_card_screen.gd
  scripts/ui/ui_layer.gd
Labels: scene, script

#156 feat: Global Player Stats
  project.godot
  resources/characters/Warrior_Stats.tres
  resources/enemies/test_enemy.tres
  scenes/characters/character.tscn
  scenes/run.tscn
  scenes/ui/game_over_screen.tscn
  scripts/battle/battle.gd
  scripts/characters/player.gd
  scripts/custom_resources/entity_stats.gd
  scripts/custom_resources/player_stats.gd
  scripts/global/run_data.gd
  scripts/global/run_data.gd.uid
  scripts/main.gd
  scripts/run/run.gd
  scripts/ui/game_over_screen.gd
  scripts/ui/game_over_screen.gd.uid
  scripts/ui/player_hud.gd
  scripts/ui/run_ui.gd
Labels: script

#159 fix: fixed discard action
  resources/cards/warrior/common/guard.tres
  resources/cards/warrior/common/hit.tres
  scripts/custom_resources/card_manipulation_action.gd
Labels: bug

#161 feat: load battle with parameters
  resources/encounters/test_battle_1.tres
  scripts/battle/battle.gd
  scripts/battle/enemy_handler.gd
  scripts/custom_resources/encounter.gd
  scripts/custom_resources/map/battle_encounter.gd
  scripts/custom_resources/map/battle_encounter.gd.uid
  scripts/custom_resources/map/boss_encounter.gd
  scripts/custom_resources/map/boss_encounter.gd.uid
  scripts/custom_resources/map/campfire_encounter.gd
  scripts/custom_resources/map/campfire_encounter.gd.uid
  scripts/custom_resources/map/dialogue_encounter.gd
  scripts/custom_resources/map/dialogue_encounter.gd.uid
  scripts/custom_resources/map/encounter.gd
  scripts/custom_resources/map/encounter.gd.uid
  scripts/custom_resources/map/map_layer.gd
  scripts/custom_resources/map/map_layer.gd.uid
  scripts/custom_resources/map/mini_boss_encounter.gd
  scripts/custom_resources/map/mini_boss_encounter.gd.uid
  scripts/custom_resources/map/random_encounter.gd
  scripts/custom_resources/map/random_encounter.gd.uid
  scripts/custom_resources/map/shop_encounter.gd
  scripts/custom_resources/map/shop_encounter.gd.uid
  scripts/map/map.gd
  scripts/map/map_generator.gd
  scripts/run/encounter_handler.gd
Labels: combat, script

#165 Feature/162 campfire encounter
  resources/characters/Warrior_Stats.tres
  scenes/encounters/campfire.tscn
  scripts/encounters/campfire.gd
  scripts/encounters/campfire.gd.uid
  scripts/global/event_bus_handler.gd
  scripts/run/encounter_handler.gd
  scripts/ui/deck_view.gd
  scripts/ui/game_over_screen.gd
  scripts/ui/placeholder.txt
  scripts/ui/ui_layer.gd
Labels: scene, script

#170 fix: fixed card drawing bug
  scripts/battle/card_handler.gd
Labels: bug

#174 feat: Defend bar
  assets/graphics/ui/hp_energy_icons/player_defendbar_over.png
  assets/graphics/ui/hp_energy_icons/player_defendbar_over.png.import
  assets/graphics/ui/icon_battle.png
  assets/graphics/ui/icon_battle.png.import
  assets/graphics/ui/icon_campfire.png
  assets/graphics/ui/icon_randomEncounter.png
  assets/graphics/ui/icon_randomEncounter.png.import
  assets/graphics/ui/icon_shop.png
  assets/graphics/ui/icon_shop.png.import
Labels: pixelart sprint 1

#177 feat: battle action pictograms
  assets/graphics/ui/intent_block.png
  assets/graphics/ui/intent_block.png.import
  assets/graphics/ui/intent_buff.png
  assets/graphics/ui/intent_buff.png.import
  assets/graphics/ui/intent_damage.png
  assets/graphics/ui/intent_damage.png.import
  assets/graphics/ui/intent_debuff.png
  assets/graphics/ui/intent_debuff.png.import
  assets/graphics/ui/intent_other.png
  assets/graphics/ui/intent_other.png.import
Labels: pixelart sprint 2

#179 fix: fixed crash when playing thanatos
  scripts/custom_resources/special_action.gd
Labels: bug

#184 feat: card playing player feedback
  assets/graphics/cards/card_highlight_hovered.png
  assets/graphics/cards/card_highlight_hovered.png.import
  assets/graphics/cards/card_highlight_played.png
  assets/graphics/cards/card_highlight_played.png.import
  assets/graphics/cards/card_highlight_selected.png
  assets/graphics/cards/card_highlight_selected.png.import
  assets/graphics/enemies/highlight/highlight_bottom_left.png
  assets/graphics/enemies/highlight/highlight_bottom_left.png.import
  assets/graphics/enemies/highlight/highlight_bottom_right.png
  assets/graphics/enemies/highlight/highlight_bottom_right.png.import
  assets/graphics/enemies/highlight/highlight_top_left.png
  assets/graphics/enemies/highlight/highlight_top_left.png.import
  assets/graphics/enemies/highlight/highlight_top_right.png
  assets/graphics/enemies/highlight/highlight_top_right.png.import
  scenes/card/card.tscn
  scenes/encounters/battle.tscn
  scenes/enemy/enemy.tscn
  scripts/battle/battle.gd
  scripts/battle/card_handler.gd
  scripts/battle/enemy_handler.gd
  scripts/card/card.gd
  scripts/effects/effect_handler_buttons.gd
  scripts/enemy/enemy.gd
Labels: combat

#198 feat: common card artworks
  assets/graphics/cards/card_blood_claw_v1.png
  assets/graphics/cards/card_halt_v1.png
  assets/graphics/cards/common/card_common_flurry.png
  assets/graphics/cards/common/card_common_flurry.png.import
  assets/graphics/cards/common/card_common_guard.png
  assets/graphics/cards/common/card_common_guard.png.import
  assets/graphics/cards/common/card_common_hit.png
  assets/graphics/cards/common/card_common_hit.png.import
  assets/graphics/cards/common/card_common_poke.png
  assets/graphics/cards/common/card_common_poke.png.import
  assets/graphics/cards/common/card_common_prepare.png
  assets/graphics/cards/common/card_common_prepare.png.import
  assets/graphics/cards/common/card_common_respite.png
  assets/graphics/cards/common/card_common_respite.png.import
  assets/graphics/cards/common/card_common_scrape.png
  assets/graphics/cards/common/card_common_scrape.png.import
  assets/graphics/cards/common/card_common_swipe.png
  assets/graphics/cards/common/card_common_swipe.png.import
  resources/cards/warrior/common/flurry.tres
  resources/cards/warrior/common/guard.tres
  resources/cards/warrior/common/hit.tres
  resources/cards/warrior/common/poke.tres
  resources/cards/warrior/common/prepare.tres
  resources/cards/warrior/common/respite.tres
  resources/cards/warrior/common/scrape.tres
  resources/cards/warrior/common/swipe.tres
  scenes/encounters/battle.tscn
Labels: pixelart sprint 2

#201 feat: hero card artworks
  assets/graphics/card_hero_nestor.png
  assets/graphics/card_hero_nestor.png.import
  assets/graphics/cards/common/cardBackground_v1.png
  assets/graphics/cards/common/tempelate_common_card.png
  assets/graphics/cards/common/tempelate_common_card.png.import
  assets/graphics/cards/common/template_common_card.png
  assets/graphics/cards/common/template_common_card.png.import
  assets/graphics/cards/hero/card_hero_actaeon.png
  assets/graphics/cards/hero/card_hero_actaeon.png.import
  assets/graphics/cards/hero/card_hero_damocles.png
  assets/graphics/cards/hero/card_hero_damocles.png.import
  assets/graphics/cards/hero/card_hero_hector.png
  assets/graphics/cards/hero/card_hero_hector.png.import
  assets/graphics/cards/hero/card_hero_helenos.png
  assets/graphics/cards/hero/card_hero_helenos.png.import
  assets/graphics/cards/hero/card_hero_idas.png
  assets/graphics/cards/hero/card_hero_idas.png.import
  assets/graphics/cards/hero/card_hero_kassandra.png
  assets/graphics/cards/hero/card_hero_kassandra.png.import
  assets/graphics/cards/hero/card_hero_odysseus.png
  assets/graphics/cards/hero/card_hero_odysseus.png.import
  assets/graphics/cards/hero/tempelate_hero_card.png
  assets/graphics/cards/hero/tempelate_hero_card.png.import
  assets/graphics/cards/hero/template_hero_card.png
  assets/graphics/cards/hero/template_hero_card.png.import
  resources/cards/warrior/hero/actaeon.tres
  resources/cards/warrior/hero/damokles.tres
  resources/cards/warrior/hero/hektor.tres
  resources/cards/warrior/hero/helenos.tres
  resources/cards/warrior/hero/idas.tres
  resources/cards/warrior/hero/kassandra.tres
  resources/cards/warrior/hero/nestor.tres
  resources/cards/warrior/hero/odysseus.tres
  resources/characters/warrior_cards.tres
Labels: pixelart sprint 2

#203 fix: fixed parma agile bug
  scripts/battle/card_handler.gd
  scripts/battle/state_machine/exit.gd
  scripts/effects/effect_instances/agile.gd
  scripts/effects/effect_instances/incapacitated.gd
  scripts/encounters/campfire.gd
  scripts/global/artifact_handler.gd
  scripts/global/run_data.gd
Labels: bug

#211 refactor: fix mouse cursor
  assets/graphics/cursors/cursor_default.png
  assets/graphics/cursors/cursor_default.png.import
  assets/graphics/cursors/cursor_lock_on.png
  assets/graphics/cursors/cursor_lock_on.png.import
  assets/graphics/cursors/cursor_unaimed.png
  assets/graphics/cursors/cursor_unaimed.png.import
Labels: refactoring, pixelart sprint 2

#213 refactor: Energy Ball Sprites
  assets/graphics/cards/card_energy_ball.png
  assets/graphics/cards/card_energy_ball.png.import
  assets/graphics/hud/energy_balls/energy_ball_disabled_hud.png
  assets/graphics/hud/energy_balls/energy_ball_hud.png
  assets/graphics/hud/energy_balls/energy_ball_hud_highlighted.png
  assets/graphics/hud/energy_balls/negative_energy_ball_hud.png
Labels: refactoring, pixelart sprint 2

#221 fix: called the correct function to deselect the card when the player looses control
  scripts/battle/card_handler.gd
Labels: bug

#224 fix: removed reference to deleted cursor
  project.godot
Labels: bug
