Repository Morph1s/Psychopompos, pull requests merged in 2025-04, with the labels that each got.

#44 feat: Linking Resource to Cards
  scenes/card/card.tscn
  scripts/card/card.gd
Labels: script, resource

#48 feat: Refactoring Initialize Function
  scripts/card/card.gd
Labels: MVP, script

#50 Feature/42 battel UI
  scenes/encounters/battle.tscn
  scripts/battle/card_handler.gd
  scripts/battle/card_ui.gd
  scripts/battle/card_ui.gd.uid
Labels: combat, MVP, scene, script

#52 chore: Viewport settings
  project.godot
Labels: MVP, config, setup

#54 refactor: fixed targeting functions
  scripts/card/card.gd
  scripts/enemy/enemy.gd
Labels: combat, MVP, refactoring, script

#59 feat: entity hud
  scenes/ui/entity_hud.tscn
  scripts/ui/entity_hud.gd
  scripts/ui/entity_hud.gd.uid
Labels: combat, MVP, scene, script

#60 feat: card drawing
  resources/characters/placeholder.txt
  resources/characters/test_character_cards.tres
  scenes/card/card.tscn
  scripts/battle/card_handler.gd
  scripts/card/card.gd
Labels: combat, important, MVP, scene, script
