Repository Morph1s/Psychopompos, pull requests merged in 2025-05, with the labels that each got.

#71 feat: Initial Cursor Sprites
  assets/graphics/ui/default_cursor.png
  assets/graphics/ui/lockOn_cursor.png
  assets/graphics/ui/placeholder.txt
  assets/graphics/ui/unaimed_cursor.png
Labels: pixelart

#73 feat: Initial Map Sprites:
  assets/graphics/ui/icon_battle.png
  assets/graphics/ui/icon_campfire.png
  assets/graphics/ui/icon_randomEncounter.png
  assets/graphics/ui/icon_shop.png
  assets/graphics/ui/map_sheet.png
Labels: pixelart

#70 feat: Enemyhud
  assets/graphics/ui/placeholder_intent_block.png
  assets/graphics/ui/placeholder_intent_block.png.import
  assets/graphics/ui/placeholder_intent_damage.png
  assets/graphics/ui/placeholder_intent_damage.png.import
  assets/graphics/ui/placeholder_intent_heal.png
  assets/graphics/ui/placeholder_intent_heal.png.import
  scenes/ui/enemy_hud.tscn
  scenes/ui/entity_hud.tscn
  scripts/ui/enemy_hud.gd
  scripts/ui/enemy_hud.gd.uid
Labels: pixelart, combat, MVP, scene, script

#69 feat: initial map setup
  scenes/map/map.tscn
  scenes/ui/run.tscn
  scripts/map/map.gd
  scripts/map/map.gd.uid
  scripts/run/encounter_handler.gd
  scripts/run/encounter_handler.gd.uid
  scripts/ui/run.gd
  scripts/ui/run.gd.uid
Labels: MVP, scene, script

#76 chore: imported spites
  assets/graphics/ui/default_cursor.png.import
  assets/graphics/ui/icon_battle.png.import
  assets/graphics/ui/icon_campfire.png.import
  assets/graphics/ui/icon_randomEncounter.png.import
  assets/graphics/ui/icon_shop.png.import
  assets/graphics/ui/lockOn_cursor.png.import
  assets/graphics/ui/map_sheet.png.import
  assets/graphics/ui/unaimed_cursor.png.import
Labels: pixelart, setup

#82 Feature/40 player hud
  scenes/characters/character.tscn
  scenes/characters/test_character.tscn
  scenes/ui/enemy_hud.tscn
  scenes/ui/entity_hud.tscn
  scenes/ui/player_hud.tscn
  scripts/ui/player_hud.gd
  scripts/ui/player_hud.gd.uid
Labels: combat, MVP, scene, script

#83 refactor: resizing game
  project.godot
  scenes/card/card.tscn
  scenes/encounters/battle.tscn
  scenes/enemy/enemy.tscn
  scripts/battle/card_handler.gd
  scripts/battle/enemy_handler.gd
Labels: refactoring, config

#84 feat: battle state machine
  scenes/encounters/battle.tscn
  scripts/battle/battle_ui.gd
  scripts/battle/battle_ui.gd.uid
  scripts/battle/state_machine/card_highlighted.gd
  scripts/battle/state_machine/card_highlighted.gd.uid
  scripts/battle/state_machine/enemy_end_turn.gd
  scripts/battle/state_machine/enemy_end_turn.gd.uid
  scripts/battle/state_machine/enemy_start_turn.gd
  scripts/battle/state_machine/enemy_start_turn.gd.uid
  scripts/battle/state_machine/enemy_turn.gd
  scripts/battle/state_machine/enemy_turn.gd.uid
  scripts/battle/state_machine/exit.gd
  scripts/battle/state_machine/exit.gd.uid
  scripts/battle/state_machine/idle.gd
  scripts/battle/state_machine/idle.gd.uid
  scripts/battle/state_machine/player_end_turn.gd
  scripts/battle/state_machine/player_end_turn.gd.uid
  scripts/battle/state_machine/player_start_turn.gd
  scripts/battle/state_machine/player_start_turn.gd.uid
  scripts/battle/state_machine/resolve_card.gd
  scripts/battle/state_machine/resolve_card.gd.uid
  scripts/battle/state_machine/state.gd
  scripts/battle/state_machine/state.gd.uid
  scripts/battle/state_machine/state_machine.gd
  scripts/battle/state_machine/state_machine.gd.uid
Labels: combat, important, MVP, script

#85 feat: event bus autoload script
  project.godot
  scripts/global/event_bus_handler.gd
  scripts/global/event_bus_handler.gd.uid
Labels: combat, script

#89 feat: discard hand at player turn end
  scenes/encounters/battle.tscn
  scripts/battle/card_handler.gd
  scripts/battle/state_machine/enemy_end_turn.gd
  scripts/battle/state_machine/enemy_start_turn.gd
  scripts/battle/state_machine/enemy_turn.gd
  scripts/battle/state_machine/player_end_turn.gd
  scripts/battle/state_machine/player_start_turn.gd
Labels: combat, script

#88 refactor: moved all UI elements to one canvas layer
  scenes/encounters/battle.tscn
  scenes/map/map.tscn
  scenes/ui/battle_ui.tscn
  scenes/ui/run.tscn
  scripts/battle/battle_ui.gd
  scripts/battle/state_machine/card_highlighted.gd
  scripts/battle/state_machine/exit.gd
  scripts/battle/state_machine/idle.gd
  scripts/battle/state_machine/player_start_turn.gd
  scripts/battle/state_machine/state.gd
  scripts/battle/state_machine/state_machine.gd
  scripts/global/event_bus_handler.gd
  scripts/map/map.gd
  scripts/ui/run.gd
  scripts/ui/ui_layer.gd
  scripts/ui/ui_layer.gd.uid
Labels: bug, refactoring, scene, script

#93 feat: Initialize battle sequence
  scenes/encounters/battle.tscn
  scripts/battle/battle.gd
  scripts/battle/battle.gd.uid
  scripts/battle/card_handler.gd
  scripts/battle/enemy_handler.gd
  scripts/battle/state_machine/state_machine.gd
  scripts/global/event_bus_handler.gd
  scripts/run/encounter_handler.gd
  scripts/ui/ui_layer.gd
Labels: combat, refactoring, script

#110 Feature/91 sm non player turn logic
  resources/enemies/swift_attack.tres
  scenes/encounters/battle.tscn
  scripts/battle/battle.gd
  scripts/battle/card_handler.gd
  scripts/battle/state_machine/card_highlighted.gd
  scripts/battle/state_machine/card_highlighted.gd.uid
  scripts/battle/state_machine/enemy_end_turn.gd
  scripts/battle/state_machine/enemy_start_turn.gd
  scripts/battle/state_machine/enemy_turn.gd
  scripts/battle/state_machine/player_end_turn.gd
  scripts/battle/state_machine/player_start_turn.gd
  scripts/battle/state_machine/resolve_card.gd
  scripts/enemy/enemy.gd
  scripts/global/event_bus_handler.gd
Labels: combat, script
